.spin-container{
    position: relative;
    height: 500px;
    width: 1200px;
    border-bottom-left-radius: 1200px;
    border-bottom-right-radius: 1200px;
    float: right;
    background-color: #C5F8C7;
    overflow: hidden;
}

.up-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
    top: 70%;
    right: 60%;

}

.down-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
    top: 70%;
    right: 15%;
}

.rating-number{
    font-size: 45px;
    font-weight: bolder;
    color: rgb(105, 189, 105);

    position: absolute;
    top: 10%;
    left: 9%;
}

.rating-stars{
    position: absolute;
    top: 20%;
    left: 5%;
}

.person-name{
    font-size: 45px;
    font-weight: 500;

    display: flex;
    width: 25%;
    justify-content: center;

    position: absolute;
    top: 30%;

}

.person-role{
    font-size: 25px;
    font-weight: 500;

    display: flex;
    width: 25%;
    justify-content: center;

    position: absolute;
    top: 40%;

}



.description{
    font-size: 18px;

    display: flex;
    width: 25%;
    justify-content: center;
    text-align: justify;

    position: absolute;
    top: 50%;
    left: 2%;
}

.session-button{
    color: white;
    background-color: #4CAF50;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 1000;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    
    position: absolute;
    top: 80%;
    left: 5%;
}

@keyframes name-animation{
    from{
        left: 60%;
    }
    to{
        left: 50%;
    }
}


.name-button{

    position: absolute;
    top: 80%;
    left: 50%;
    display: flex;
    width: 25%;
    justify-content: center;

    font-size: 40px;
    font-weight: 500; 
    color: rgb(37, 34, 34);
    background-color: #96c897;
    border-radius: 10px;
    padding: 10px;

    animation-name: name-animation;
    animation-duration: 1s;
}
